@import "../../style/variable";
.newList {
	height: 100%;
	overflow: auto;
	background: $bgColor;
	color: $fontColor;
	ul {
		padding-bottom: 20px;
		li {
			display: flex;
			justify-content: space-between;
			font-size: 14px;
			padding: 20px 14px 0;
			div {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 94%;
			}
			.arrow {
				width: 14px;
				height: 14px;
				background: url("../../static/images/arrow_icon.png") no-repeat;
				background-size: contain;
			}
		}
	}
	.slider-slide {
		padding: 0;
	}
}
