@import "../../style/variable";
.rank {
	height: 100%;
	overflow: auto;
	background: $bgColor;
	color: $fontColor;
	a {
		height: 80px;
		width: 100%;
		display: flex;
		padding-left: 10px;
		align-items: center;
		justify-content: space-between;
		.rank_left {
			display: flex;
			align-items: center;
			color: $fontColor;
			font-size: 16px;
			img {
				height: 60px;
				width: 60px;
				margin-right: 8px;
			}
		}
		.rank_right {
			width: 20px;
			height: 20px;
			background: url("../../static/images/arrow_icon.png") no-repeat;
			background-size: contain;
		}
	}
}
