@import "../../style/variable";
.hot_list {
	background: $bgColor;
	color: $fontColor;
	li {
		height: 100px;
		a {
			display: flex;
			height: 100%;
			align-items: center;
			color: $fontColor;
		}
		.left {
			img {
				width: 80px;
				padding: 10px;
				box-sizing: content-box;
			}
		}
		.right {
			.listen_num {
				font-size: 0;
				.listen_icon {
					display: inline-block;
					width: 20px;
					height: 20px;
					background: url("../../static/images/icon_music.png");
					margin-right: 10px;
					margin-top: 5px;
				}
				.listen_count {
					font-size: 12px;
					vertical-align: bottom;
				}
			}
		}
	}
}
